.container {
  display: flex;
  flex-direction: column;
  .baseInfo {
    display: flex;
    flex-direction: column;
    &Avatar {
      margin: 0 auto;
      width: 200px;
      height: 200px;
      font-size: 100px;
    }
    &Infos {
      display: flex;
      flex-direction: column;
    }
  }
  .skeletonText {
    height: 40px;
  }
}
